{% extends 'base.html' %} 
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VirtuosoCRM Sign-Up</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<div class="container">
    <form action="">
        <div class="mb-3">
            <div id="contenido">
                <h1>Sign up page</h1>
            </div>
        </div>
    </div>    
    </div>
    <br/>
    <br /> 
    <br /> 
</div>

{% endblock content %}