{% extends 'base.html' %}

{% block content%}
    <h1 class="text-center">Ventas</h1>
    <!-- Ventana Modal Venta -->
        <!-- Trigger Modal -->
        <button type="button" class="btn bg-dark-subtle text-dark-emphasis p-2 m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Generar Venta
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Generar Venta a Nombre de {{ detalle_cliente.nombreCliente }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form>
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    </div>
                    <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn bg-dark-subtle text-dark-emphasis p-2 m-3">Save changes</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Fin Ventana Modal Venta -->

    <div class="list-group p-3 mb-2 bg-secondary-subtle">
        {% for cliente in clientes %}
        <a href="{% url 'detalleCliente' cliente.id %}" class="list-group-item list-group-item-action active p-3 mb-2 bg-dark-subtle text-dark-emphasis" aria-current="true">
            <div class="d-flex w-100 justify-content-between ">
                <h5 class="mb-1 text-uppercase">{{ cliente.nombreCliente }}</h5>
                <small>{{ cliente.creationDate }}</small>
            </div>
            <p class="mb-1">{{ cliente.telefonoCliente }}-{{ cliente.emailCliente }}</p>
            <small>And some small print.</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}