{% extends 'base.html' %}

{% block content%}
    <h1 class="text-center">Ventas</h1>
        <button type="button" class="btn bg-dark-subtle text-dark-emphasis p-2 m-3">
           <a href="{% url 'generarVenta' %}" class="link-underline link-underline-opacity-0">Generar Venta</a>
        </button>

        <div class="list-group p-3 mb-2 bg-secondary-subtle">
            {% for venta in ventas %}
                <a href="" class="list-group-item list-group-item-action active p-3 mb-2 bg-dark-subtle text-dark-emphasis" aria-current="true">
                    <div class="d-flex w-100 justify-content-between ">
                        <h5 class="mb-1 text-uppercase">{{ venta.idCliente }}</h5>
                        <small>{{ venta.fechaVenta }}</small>
                    </div>
                   <!--{% for detalleVenta in detalleVentas %}
                        {% if detalleVenta.idVenta == venta %}
                            <p class="mb-1">{{ detalleVenta.producto}}</p>
                        {% endif %}
                    {% endfor%}-->
                    {% for detalle in venta.detalles.all %}
                        <li>Producto: {{ detalle.producto.nombre }}</li>
                    {% empty %}
                        <li>No hay detalles para esta venta.</li>
                    {% endfor %}
                </a>
            {% endfor %}
        </div>
{% endblock %}