{% extends 'base.html' %}

{% block content%}
    <h1 class="text-center">LISTADO DE PRODUCTOS Y SERVICIOS</h1>
    <!-- Ventana Modal Venta -->
    <!-- Trigger Modal -->
    <button type="button" class="btn bg-dark-subtle text-dark-emphasis p-2 m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Registrar Producto
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'productosServicios' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="mb-3">
                                <label class="form-label">Nombre del Producto</label>
                                <input type="text" class="form-control" name="{{form.nombrePS.name}}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripción del Producto</label>
                                <textarea class="form-control" aria-label="With textarea" name="{{form.descripcionPS.name}}"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Costo del Producto</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="number" class="form-control" name="{{form.costoPS.name}}">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Precio Unitario del Producto</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="number" class="form-control" name="{{form.precioUnitarioPS.name}}">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Categoría</label>
                                <select class="form-select" aria-label="Default select example" name="{{form.categoria.name}}">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Observaciones</label>
                                <textarea class="form-control" aria-label="With textarea" name="{{form.observacion.name}}"></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Registrar">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-dark-subtle text-dark-emphasis p-2 m-3">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin Ventana Modal Venta -->
    <div class="list-group p-3 mb-2 bg-secondary-subtle">
        {% for producto in productos %}
        <a href="" class="list-group-item list-group-item-action active p-3 mb-2 bg-dark-subtle text-dark-emphasis" aria-current="true">
            <div class="d-flex w-100 justify-content-between ">
                <h5 class="mb-1 text-uppercase">{{ producto.nombrePS }}</h5>
                <small>{{ producto.creationDate }}</small>
            </div>
            <p class="mb-1">{{ producto.costoPS }}-{{ producto.precioUnitarioPS }}</p>
            <small>And some small print.</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}